<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CPPlusRtspUrl" value="rtsp://UserID:Password@IpAddress:554/cam/realmonitor?channel=1&amp;subtype=0"/>
    <!--&amp; is used to represent the ampersand character (&). It's necessary because within an XML attribute value, the ampersand character has special significance, 
    and using it directly could cause parsing issues. By representing it as &amp;, 
    it ensures that the XML parser interprets it correctly as an ampersand character rather than as the beginning of an entity.-->
  </appSettings>
</configuration>